@import url(//fonts.googleapis.com/css?family=Noto+Sans);
@import url(https://cdn.jsdelivr.net/gh/asciidoctor/asciidoctor@2.0/data/stylesheets/asciidoctor-default.css);

:root{
--maincolor:#282c34;
--primarycolor:#f39c12;
--secondarycolor:#03a9f4;
--tertiarycolor:#4db6ac;
--sidebarbackground:#21252b;
--linkcolor:#f44336;
--linkcoloralternate:#ff9800;
--white:#FFFFFF;
}

body{font-family: "Noto Sans",sans-serif;background-color: var(--maincolor);color:var(--white);}

h1{color:var(--primarycolor) !important;font-family:"Noto Sans",sans-serif;}
h2,h3,h4,h5,h6{color:var(--secondarycolor) !important;font-family:"Noto Sans",sans-serif;}
.title{color:var(--white) !important;font-family:"Noto Sans",sans-serif;font-style: normal; font-weight: normal;}
p{font-family: "Noto Sans",sans-serif ! important}
#toc.toc2 a:link{color:var(--linkcolor);}
blockquote{color:var(--tertiarycolor) !important}
.quoteblock{color:var(--white)}
code{color:var(--linkcoloralternate);background-color: var(--sidebarbackground) !important}

th{background-color: var(--maincolor);color:var(--white) !important;}
td{background-color: var(--maincolor);color: var(--linkcoloralternate) !important}

#toc.toc2{background-color:var(--sidebarbackground);}
#toctitle{color:var(--white);}

video {
  max-width: 100%;
}

@media all and (max-width: 600px) {
  table {
    width: 55vw!important;
    font-size: 3vw;
  }
}

.exampleblock > .content {
  background-color: var(--maincolor);
}

a {
  color: var(--secondarycolor);
}

.admonitionblock td.icon .icon-tip::before {
  text-shadow: none;
  color: var(--white);
}
.admonitionblock td.icon .icon-note::before {
  color: var(--tertiarycolor);
}
.admonitionblock td.icon .icon-important::before {
  color: var(--linkcolor);
}
.admonitionblock td.icon .icon-warning::before {
  color: var(--primarycolor);
}

#preamble > .sectionbody > .paragraph:first-of-type p {
  color: var(--white);
}

.quoteblock blockquote::before {
  color: var(--primarycolor);
}
.quoteblock .attribution cite, .verseblock .attribution cite {
  color: var(--white);
}
.verseblock pre {
  color: var(--white);
}
.quoteblock blockquote, .quoteblock blockquote p {
  color: var(--white);
}

.sidebarblock {
  background: var(--sidebarbackground);
}
.literalblock pre, .listingblock pre:not(.highlight), .listingblock pre[class="highlight"], .listingblock pre[class^="highlight "], .listingblock pre.CodeRay, .listingblock pre.prettyprint {
  background: var(--sidebarbackground);
  color: var(--white);
}

#header .details {
  color: var(--white);
}
#header .details span.email a {
  color: var(--linkcoloralternate);
}

.light-black-box {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  padding: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  z-index: 1000;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.light-black-box::before {
  content: "";
  position: absolute;
  top: -40px;
  left: 50%;
  transform: translateX(-50%);
  width: 100px;
  height: 100px;
  background-image: url('path/to/your/logo.png');
  background-size: cover;
  background-position: center;
  border-radius: 10px;
  z-index: 10;
}

.light-black-box p {
  font-size: 1.2em;
  margin: 0;
  padding-top: 60px;
}
